* {
  max-width: 100vw;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
  overflow-y: scroll;
  width: 100vw;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 10vw;
  width: 50%;
  margin: 20px 0 20px 50%;
  text-align: right;
  line-height: 0.9;color: #fff;
}

h1 span {
  font-size: 12.65vw;

}

/* HEADER AREA */
header {
  background: linear-gradient(
      rgba(250, 208, 196, 1),
      rgba(255, 209, 255, 0)
      );
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  min-height: 600px;
  width: 100%;
  max-width: 100vw;
  color: #fff;
  display: grid;
  justify-items: center;
  align-items: center;
  overflow: hidden;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  min-height: 600px;
  height: 100vh;
  min-width: 100vw;
  z-index: -1;
}

.inner-header {
  width: 80vw;
  text-align: right;
}

.inner-header h2 {
  font-family: 'Roboto', Helvetica, sans-serif;
  box-sizing: border-box;
  color: rgb(0,128,128);
  width: 50%;
  text-align: right;
  font-size: 8.3vw;
  font-weight: lighter;
  margin-right: 0;
  margin-left: 50%;
  margin-bottom: 0;
  line-height: 0.8;
}

.inner-header h2 span {
  font-size: 5.15vw;
  padding-right: 5px;
}

/*NAV MENU */

nav {
  width: 50%;
  /*max-width: 50%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin-top: 30px;
  margin-right: 0;
  margin-left: 50%;
  z-index: 5000 !important;
}

nav.sticky {
  background-color: rgba(255,255,255,0.95);
  position: fixed;
  width: 40vw;
  margin-top: 0;
  top: 0;
  right: 0;
  padding: 0 10vw 0 50vw;
}

#menu-icon {
  display: none;
  color: rgba(80, 80, 80, 0.8);
  font-size: 3vw;
  margin-top: 3vh;
  margin-left: 3vw;
  transform: rotate(0);
  transition: transform 1.5s ease-in-out;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-left: 0;
  width: 100%;
  box-sizing: border-box;
}

nav li {
  list-style: none;
  width: 32%;
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 1.5vw;
}

nav.sticky a {
  /*background-color: #fff;
  padding: 10px;*/
}

nav a {
  text-decoration: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 1.2vw;
  color: rgba(80, 80, 80, 0.8);

}

nav a:hover,
nav a:active {
  color: rgba(80, 80, 80, 1);
  font-weight: bold;
  /*background-color: #fff;*/
}



/* HOME BUTTON  */

a#homeButton {
  display: none;
  font-size: 60px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  margin: 0;
  padding: 0;
  color: rgba(80, 80, 80, 0.8);
  z-index: 6000;
  animation: bounce 1s infinite alternate;
  -webkit-animation: bounce 1s infinite alternate;
}

a#homeButton.visible {
  display: inline-block;
}

@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}

a#homeButton:hover {
  cursor: pointer;
  color: rgba(80, 80, 80, 1);
}

.scrollToTop {
  animation: scrollBodyToTop 3s;
  -webkit-animation: scrollBodyToTop 3s;
}

@keyframes scrollBodyToTop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50%);
  }
}
@-webkit-keyframes scrollBodyToTop {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(50%);
  }
}


/* LANGUAGE LOGOS SECTION */

.languages {
  display: grid;
  justify-items: center;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  padding: 10vh 0 10vh 0;
  background-color: #fff;
  /*z-index: 2;*/
}

.language {
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.languageLogo {
  color: rgb(0,128,128);
  transition: color ease-in-out 1000ms;
  font-size: 200px;
  max-width: 90%;
  box-sizing: border-box;
}

.languageLogo:hover {
  color: rgb(250, 208, 196);
}

#CSSLogo {
  filter: invert(100%);
}

/* ABOUT ME SECTION */

#about {
  padding: 10vh 10vw 30vh 10vw;
  color: #fff;
  display: grid;
  align-content: center;
  grid-template-rows: 3px auto 80px 80px;
  grid-template-columns: 65% 35%;
  grid-column-gap: 2%;
  /*border-top: 3px solid rgb(0,128,128);*/
}

 .about h2,
 .portfolio h2, 
 .testimonials h2 {
   font-family: 'Montserrat', sans-serif;
   font-size: 90px;
   grid-column-start: 1;
   text-align: center;
 }

 .about h2 {
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
  padding: 40px 0 0 0;
  border-top: 4px solid rgb(0,128,128);
  color: rgb(0,128,128);
}

.about p {
  padding: 0;
  margin: 100px 10vw 0 10vw;
  grid-column-start: 1;
  grid-column-end: 2;
  height: auto;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1.4;
  display: grid;
  align-content: center;
  color: rgb(80,80,80);
}

.about p:nth-child(2) {
  grid-row-start: 3;
  grid-row-end: 4;
}
.about p:nth-child(3) {
  grid-row-start: 4;
  grid-row-end: 5;
}

.aboutImage {
  /*width: 200px;*/
  /*border-radius: 200px;*/
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 5;
}

/*TESTIMONIALS SECTION*/

#testimonials {
  background-color: rgb(0,128,128);
  padding: 50px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.testimonials h2 {
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  text-align: center;
  color: #fff;
}

.testimonial {
  font-family: 'Roboto', Helvetica, sans-serif;
  width: 300px;
  min-height: 400px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonialPhoto {
  border-radius: 100%;
  margin: 20px;
}

.testimonial h3 {
  color: rgb(0,128,128);
  font-size: 30px;
  margin-bottom: 5px;
}

.testimonial h4 {
  color: rgb(0,128,128);
  transition: color 0.8s ease-in-out;
}

.testimonial h4:hover {
  color: rgb(250, 208, 196);
}

.testimonial a {
  text-decoration: none;
}

.testimonial p {
  /*text-align: justify;*/
  /*background-color: rgb(0,128,128);*/
  color: #rgb(80,80,80);
  line-height: 1.3;
  /*padding: 7px;*/
}

/* PORTFOLIO GRID SECTION */

/*Portfolio redesign: */

.portfolio {
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  grid-template-rows: 200px 300px 300px 200px;
  grid-row-gap: 10vh;
  overflow: hidden;
  background-color: #fff;
}

.portfolio h2 {
  grid-column-end: 4;
  color: rgb(0,128,128);
  padding-top: 25px;
}

.portfolioProject {
  padding-top: 0;
  width: 300px;
  box-sizing: border-box;
  position: relative;
  align-items: baseline;
  box-shadow: 0px 0px #888888;
  transition: box-shadow ease-in-out 800ms;
}


.portfolioTitle {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 0;
  position: absolute;
  /*font-size: 30px;*/
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  /*background: rgba(0,128,128,0.7);*/
  background: rgba(80,80,80,0.9);
  color: #fff;
  transition: opacity ease-in-out 800ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.portfolioTitle h3 {
  font-size: 30px;
}

.portfolioTitle p {
  font-size: 14px;
  max-width: 80%;
  margin: 0 auto;
}

.portfolioProject:hover .portfolioTitle {
  /*height: 0;*/
  opacity: 0;
}

.portfolioProject:hover {
  box-shadow: 5px 5px #888888;
}

.portfolioProjectThumbnail {
  max-width: 100%;
  width: 300px;
  margin-top: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

/*CONTACT*/
.contact {
  padding: 0;
  /*height: 300px;*/
  display: grid;
  grid-template-columns: 33.33vw 33.33vw 33.33vw;
  grid-template-rows: 60px 75px 25px;
  justify-items: center;
  background-color: #008080;
}

.contact-icons {
  color: #fff;
  font-size: 2rem;
  text-align: justify;
  width: 175px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: justify;
}

.contact-icons a, 
.contact-icons a:visited {
  color: #fff;
}

a.contact-me {
  background-color: #fff;
  color: #008080;
  height: auto;
  margin-top: 15px;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;

}

a.contact-me.button:hover,
.contact-icons a:hover, 
.contact-icons a:active {
  color: rgb(250, 208, 196);
}


/* RESPONSIVE */


@media (max-width: 960px) {

  nav {
    position: fixed;
    width: 120px;
    top: 0;
    left: 0;
    margin-left:0;
    align-items: flex-start;
    text-align: left;
  }

  nav.sticky {
    all: unset;
}

  #menu-icon {
    display: inline-block;
    /*background-color: red;*/
  }

  #menu-icon.open {
    /*background-color: yellow;*/
    /*border: 3px solid yellow;*/
    transform: rotate(90deg);
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    margin-left: 2vw;
    font-size: 0;
    position: absolute;
    left: -400px;
    top: 50px;
    /*border: 2px solid red;*/
    transition: left 1.5s;
  }

  #menu-icon.open + ul {
        /*border: 2px dashed black;*/
    left: 0;    

  }

  nav li {
    width: 100%;
    margin-left: 0;
    justify-content: center;
    align-items: center;
    /*border: 2px solid yellow;*/
    background-color: rgba(255,255,255,0.5);
    padding: 0 0 0 0;
  }

  nav li:hover, 
  nav li:active {
    background-color: rgba(255,255,255,1);
  }

  nav li a {
    /*background-color: red;*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    margin: 0;
    font-size: 12px;
  }


  .languages {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
  }

  .about {
    grid-template-rows: auto 220px 120px;
    /*height: 450px;*/

  }

  .aboutImage {
    width:150px;
    border-radius: 150px;
    margin-top: 10vh;
  }

   .portfolio {
     grid-template-columns: 50vw 50vw;
     grid-template-rows: 150px 300px 300px 300px 50px;
   }

   .portfolio h2 {
     grid-column-end: 3;
  }

  .contact {
    grid-template-columns: 100vw;
    grid-template-rows: 20px 80px 0px 0px 80px 80px;
  }

  .fa-circle {
   border-radius: 100%;
 }
}

@media (max-width: 639px) {  /*for portfolio projects - separate media query*/

  .portfolio {
    grid-template-columns: 100vw;
    grid-template-rows: 150px 300px 300px 300px 300px 300px 50px;
  }

  .portfolio h2 {
    grid-column-end: 2;
 }


}

@media (max-width: 480px) {

  #header {
  background: linear-gradient(
      rgba(250, 208, 196, 0.8),
      rgba(255, 209, 255, 0)
      );
  /*height: 100vh;*/
}

  h1 {
    width: 100%;
    margin: 180px 0 10px 0;
    text-align: center;
  }

  h1 span {
    display: block;
  }

  .inner-header h2 {
    width: 100%;
    margin-left: 0;
    line-height: 1;
    text-align: center;
    font-size: 7.4vw;
  }

  .inner-header h2 span {
    width: 100%;
    display: block;
    font-size: 4.6vw;
    margin-left: 0;
  }

  .languages {
    grid-template-columns: 100vw;
    grid-template-rows: 18% 18% 18% 18% 18%;
    row-gap: 20px;
  }

  .about {
    /*height: 400px;*/
    grid-template-rows: 80px 180px 150px;
    grid-template-columns: 100vw;
  }

  .about p {
    margin-left: 0;
    width: 80vw;
    margin: 0 auto;
  }

  .aboutImage{
    display: none;
  }

  .about h2,
  .portfolio h2 {
    font-size: 50px;
    margin-top:20px;
  }
}
